
.hero {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  padding: 40px 20px;
}

.hero img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: fill;

  border: 4px solid rgba(255, 255, 255, 0.2);

  animation: float 4s ease-in-out infinite;

  box-shadow:
    0 0 30px rgba(180, 21, 255, 0.5),
    0 0 80px rgba(223, 137, 8, 0.3);
}

.hero-resume a {
  text-decoration: none;
  color: white;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero h1 {
  width: 70%;
  text-align: center;
  font-size: 70px;
  line-height: 1.2;
}

.hero h1 span {
  background: linear-gradient(270deg, #ff8a00, #ff4ecd, #7a5cff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 60%;
  text-align: center;
  color: #d1d1d1;
  font-size: 22px;
  line-height: 1.8;
}

.hero-action {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-connect,
.hero-resume {
  padding: 18px 35px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.hero-connect {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #9d50ff);
}

.hero-connect:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(181, 21, 255, 0.5);
}

.hero-resume {
  border: 2px solid white;
}

.hero-resume:hover {
  background: white;
  color: black;
  transform: translateY(-5px);
}

.hero-resume:hover a{
  color:#0f0c29;
}



/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  .hero h1 {
    width: 90%;
    font-size: 55px;
  }

  .hero p {
    width: 85%;
    font-size: 20px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 80px 20px;
  }

  .hero img {
    width: 180px;
    height: 180px;
  }

  .hero h1 {
    width: 100%;
    font-size: 40px;
  }

  .hero p {
    width: 100%;
    font-size: 18px;
  }

  .hero-action {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .hero-connect,
  .hero-resume {
    width: 250px;
    text-align: center;
  }
}

/* Small Phones */

@media (max-width: 480px) {
  .hero img {
    width: 150px;
    height: 150px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }
}
